{% extends 'wish_list/base.html' %}

{% block content %}
<div class="black">O nas</div>
<div class="container">
<p></p>
{% if not request.user.is_authenticated %}
    <div style="text-align: center">Aby móc w pełni korzystać z serwisu:<br>
        <a href="/login" class="btn btn-info">Zaloguj się <i class="fas fa-user"></i></a><a>  lub </a>
        <a href="/add_account" class="btn btn-info">Zarejestruj się <i class="fas fa-user-plus"></i></a>
    </div>
    {% endif %}
    <p></p>
    <p style="text-align: center">{% lorem %}</p>
</div>
{% endblock %}