{% extends 'wish_list/base.html' %}

{% block content %}
<div class="black">{{ user.first_name }} {{ user.last_name }}</div>
<div class="container">
<p></p>
{% if user == request.user %}
<p><a href="/edit/{{ user.id }}" class="btn btn-info">Edytuj profil <i class="fas fa-edit"></i></a></p>
<p><a href="/{{ user.id }}/add_list" class="btn btn-info">Stwórz nową listę prezentów <i class="fas fa-gift"></i></a></p>
<p><a href="/{{ user.id }}/addFundraiser" class="btn btn-info">Dodaj nową zbiórkę pieniędzy <i class="fas fa-piggy-bank"></i></a></p>
{% endif %}
{% if lists or fundraisers %}
<p><strong>Twoje listy prezentów i zbiórki:</strong></p>
<ol>
    {% for list in lists %}
    <li>{{ list.name }} ---> <a href="/{{ user.id }}/{{ list.id }}" class="btn btn-outline-info">Zobacz listę prezentów <i class="fas fa-gift"></i></a>
        {% if user == request.user %}
        <a href="/{{ user.id }}/{{ list.id }}/delete" class="btn btn-outline-info">Usuń listę <i class="fas fa-trash-alt"></i></a>
        {% endif %}
    </li>
    {% endfor %}
    {% for fundraiser in fundraisers %}
    <li>{{ fundraiser.goal }} ---> <a href="/{{ user.id }}/fundraiser/{{ fundraiser.id }}" class="btn btn-outline-info">Zobacz zbiórkę pieniędzy <i class="fas fa-piggy-bank"></i></a>
        {% if user == request.user %}
        <a href="/{{ user.id }}/fundraiser/{{ fundraiser.id }}/delete" class="btn btn-outline-info">Usuń listę <i class="fas fa-trash-alt"></i></a>
        {% endif %}
    </li>
    {% endfor %}
</ol>
{% else %}
<p>{{ user.first_name }} nie ma jeszcze utworzonej żadnej listy :(</p>
{% endif %}
</div>
{% endblock %}